@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/PressStart2P-Regular.ttf');
}

#level-title {
  font-family: 'Press Start 2P';
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.main {
  height: 100vh;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid #000000;
  border-radius: 20%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
